<div id="googleMap" style="width:100%;height:100%;"></div>
<script>

// code found in google api doc

function myMap() {
    close = false
    var mapProp= {
        center:new google.maps.LatLng(<%= @coord_x[0] %>, <%= @coord_y[0] %>),
        zoom:4,
    };
    
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    <% for i in Address.all.each %>
    
    var marker = new google.maps.Marker({
        
        position : new google.maps.LatLng(<%= @coord_x[i.id-1] %>, <%= @coord_y[i.id-1] %>),
        animation:google.maps.Animation.DROP,
        icon: 'assets/rsz_re-icon.png'

        
    });
     
// to close window, found on https://stackoverflow.com/questions/2223574/google-maps-auto-close-open-infowindows

     marker.window = new google.maps.InfoWindow({
               content: " <h1> <%= Address.find(i.id).street_number %></h1> <hr noShade> <p> Customer name: <%= @customer_name[i.id-1] %> </p> <p> Number of battery: <%= @number_battery[i.id-1] %> </p> <p> Number of column: <%= @number_column[i.id-1]  %> </p> <p> Number Elevators: <%= @number_elevator[i.id-1]  %> </p> <p> Service Contact: <%= @service_name[i.id-1] %> </p> <p>Temperature: <%= @weather[i.id-1] %>° </p>"
           });
           marker.addListener('click', function() {
                if( close ) {
                close.close();
                }
                close = this.window
               this.window.open(map, this);
           });


    marker.setMap(map);
    

    <% end %>

}

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=myMap"></script>

