<label>Identified profile</label>
<label>Identified profile Id : <%= @identifiedId %></label>
<label>Identified name : <%= @identifiedName %></label>
<label>Profile language : <%= @identifiedLanguage %></label>
<label>Identification operation status : <%= @operationnal_status %></label>
<label>Identification confidence level : <%= @confidence %></label>
<label>Text :</label>
<label><%= @text %></label>